/* Common Styles */
.sv-paper {
    margin: 5px !important;
    padding: 5px !important;
}

.sv-table {
    margin: 5px !important;
    padding: 5px !important;
}

.sv-custom-progress-stack {
    width: 100% !important;
}

.sv-main-stack {
    gap: 3px !important;
}

.sv-table-custom-row-1 {
    justify-content: start !important;
}

.sv-progressbar {
    margin: 0 !important;
    padding: 0 !important;
}

/* Table Styles */
.mud-table-dense * .mud-table-row .mud-table-cell:last-child {
    padding-right: 0 !important;
    padding-inline-end: 0 !important;
}

.mud-table-cell .mud-checkbox {
    margin: 0 !important;
}

/* Dialog Styles */
.my-custom-media-dialog {
    backdrop-filter: blur(10px) !important;
}

/* Homepage Styles */
.equal-height-grid {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
}

.card-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    height: 300px !important;
    text-align: center !important;
    padding: 1rem 2px 2px 2px !important;
}

/* Mobile Responsiveness */
@media screen and (max-width:599px) {
    .mud-xs-table .mud-table-cell::before {
        word-break: keep-all !important;
        min-width: 55px !important;
    }

    .sv-custom-progress-stack {
        width: 100% !important;
    }

    .sv-table {
        margin: 5px !important;
        padding: 5px !important;
    }

    .sv-paper {
        margin: 5px !important;
        padding: 5px !important;
    }

    .sv-main-stack {
        gap: 3px !important;
    }

    .mud-xs-table.mud-table-dense .mud-table-cell {
        padding: 6px !important;
    }

    .sv-table-custom-row-1 {
        justify-content: start !important;
    }

    #my-mudstack-row-1 {
        flex-direction: column !important;
    }

    .mud-table-dense * .mud-table-row .mud-table-cell:last-child {
        padding-right: 0;
        padding-inline-end: 0;
    }

    .mud-table-cell .mud-checkbox {
        margin: 0 !important;
    }
}
